@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}
html {
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: white;
        color: black;
    }
}
